[Unit]
Description=Embedded Compositor - Bottom Client Example
Requires=embedded-compositor.service

[Service]
EnvironmentFile=/etc/default/embedded-compositor-env-client
ExecStart=/usr/share/embeddedcompositor-examples/bottomclient

[Install]
WantedBy=multi-user.target
