[Unit]
Description=Embedded Compositor - Bottom Client Example
Requires=embedded-compositor.service

[Service]
EnvironmentFile=/etc/default/embedded-compositor/wayland-client
EnvironmentFile=/etc/default/embedded-compositor/xdg-path
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/dbus/system_bus_socket"
ExecStart=/usr/share/embedded-compositor-testclients/bottomclient

[Install]
WantedBy=multi-user.target
