[Unit]
Description=Embedded Compositor - Widget Center Client Example

# If Plymouth is used, we want to start when it is on its way out.
After=compositor.service

[Service]
Type=simple
EnvironmentFile=/etc/default/embedded-compositor-env-client
ExecStart=/usr/share/embeddedcompositor-examples/widgetcenterclient

[Install]
WantedBy=multi-user.target
