[Unit]
Description=Embedded Compositor - Quick Center Client Example

# If Plymouth is used, we want to start when it is on its way out.
After=compositor.service

[Service]
Type=simple
EnvironmentFile=/etc/default/embedded-compositor/wayland-client
EnvironmentFile=/etc/default/embedded-compositor/xdg-path
ExecStart=/usr/share/embedded-compositor-testclients/quickcenterclient

[Install]
WantedBy=multi-user.target
